body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}

h1 {
    color: #d84242;
}

table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #333;
}